{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'addform/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/vendor/noui/nouislider.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'addform/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'addform/css/main.css' %}">
<!--===============================================================================================-->









<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!-- Title -->
<title>Efarming| Home</title>
<!-- Favicon -->
<link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
<!-- Core Stylesheet -->
<link rel="stylesheet" href="{% static 'style.css' %}">





<style>

  body { background: #efefef url('/static/img/bg-img/bg1.png') no-repeat;  height: 100%; 
  
    
    
    background-size: cover;
  }
  
  
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }


  .form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;  }




  .input100 {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 1px;

  font-family: Raleway-SemiBold;
  font-size: 18px;
  color: #686868;
  line-height: 1.1;
  padding: 10px;

  margin-top: 5px;


  box-sizing: border-box;
}










  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;

   
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
   
  
  
  
  </style>



</head>
<body>




	   <!-- Preloader -->
	   <div class="preloader d-flex align-items-center justify-content-center">
		<div class="spinner"></div>
	  </div>
	
	  <!-- ##### Header Area Start ##### -->
	  <header class="header-area">
		<!-- Top Header Area -->
	
	
		<!-- Navbar Area -->
		<div class="famie-main-menu">
		  <div class="classy-nav-container breakpoint-off">
			<div class="container">
			  <!-- Menu -->
			  <nav class="classy-navbar justify-content-between" id="famieNav">
				<!-- Nav Brand -->
				<a href="index.html" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
				<!-- Navbar Toggler -->
				<div class="classy-navbar-toggler">
				  <span class="navbarToggler"><span></span><span></span><span></span></span>
				</div>
				<!-- Menu -->
				<div class="classy-menu">
				  <!-- Close Button -->
				  <div class="classycloseIcon">
					<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
				  </div>
				  <div class="classynav">
					<ul>
					  <li class="active"><a href="/officer/adminhomepage">Home</a></li>
					  <li><a href="about.html">About</a></li>
	
	
					  <li><a href="#"> Products</a>
						<ul class="dropdown">
						  <li><a href="#">Add Products</a>
							<ul class="dropdown">
							  <li><a href="/officer/addseed"> Add Seed</a></li>
							  <li><a href="/officer/addplant">Add Plants</a></li>
								<li><a href="farming-practice.html">Add Fertilizer</a></li>
						 
							</ul>
						  </li>
	
						  <li><a href="/officer/product">View Products</a></li>
							<li><a href="farming-practice.html">Bookings</a></li>
					 
						</ul>
	
	
	
						<li><a href="#">News</a>
						  <ul class="dropdown">
							<li><a href="/officer/addseed"> Add News</a></li>
							<li><a href="/officer/addplant">View News</a></li>
							
					   
						  </ul>
						</li>
	
	
	
						<li><a href="#">Applications</a>
						  <ul class="dropdown">
							<li><a href="/officer/addapplication"> Add Applications</a></li>
							<li><a href="/officer/viewapplication">View Applications</a></li>
							
					   
						  </ul>
						</li>
	
						<li><a href="#">Farming Practice</a>
						  <ul class="dropdown">
							<li><a href="/officer/addseed"> Add </a></li>
							<li><a href="/officer/addplant">View</a></li>
							
					   
						  </ul>
						</li>
	
	
	
				   <!--   <li><a href="farming-practice.html">Farming Practice</a></li>
					  <li><a href="news.html">News</a></li>-->
				 
					 
					  <li><a href="contact.html">profile</a></li>
					
					  <li><a href="/index">LogOut</a></li>
					</ul>
					<!-- Search Icon -->
				  <!-- <div id="searchIcon">
					  <i class="icon_search" aria-hidden="true"></i>
					</div>-->
					<!-- Cart Icon -->
				  <!-- <div id="cartIcon">
					  <a href="#">
						<i class="icon_cart_alt" aria-hidden="true"></i>
						<span class="cart-quantity">5</span>
					  </a>
					</div>  -->
				  </div>
				  <!-- Navbar End -->
				</div>
			  </nav>
	
			  <!-- Search Form -->
			  <div class="search-form">
				<form action="#" method="get">
				  <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
				  <button type="submit" class="d-none"></button>
				</form>
				<!-- Close Icon -->
				<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
			  </div>
			</div>
		  </div>
		</div>
	  </header>
   











	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST">
				<span class="contact100-form-title">
					
					{% csrf_token %}


			 <centre>	ADD APPLICATION</centre>
				</span>

				<div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
					<span class="label-input100">APPLICATION NAME *</span>
					<input class="input100" type="text" name="name" placeholder="Enter Application Name" required>
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" >
					<span class="label-input100">REQUIREMENT 1</span>
					<input class="input100" type="text" name="requirement1" placeholder="Enter Requirement 1 ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">REQUIREMENT 2</span>
					<input class="input100" type="text" name="requirement2" placeholder="Enter Requirement 2">
        </div>
        
        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" >
					<span class="label-input100">REQUIREMENT 3</span>
					<input class="input100" type="text" name="requirement3" placeholder="Enter Requirement 3 ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">REQUIREMENT 4</span>
					<input class="input100" type="text" name="requirement4" placeholder="Enter Requirement 4">
				</div>

			<!--	<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Needed Services *</span>
					<div>
						<select class="js-select2" name="service">
							<option>Please chooses</option>
							<option>eCommerce Bussiness</option>
							<option>UI/UX Design</option>
							<option>Online Services</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="w-full dis-none js-show-service">
					<div class="wrap-contact100-form-radio">
						<span class="label-input100">What type of products do you sell?</span>

						<div class="contact100-form-radio m-t-15">
							<input class="input-radio100" id="radio1" type="radio" name="type-product" value="physical" checked="checked">
							<label class="label-radio100" for="radio1">
								Phycical Products
							</label>
						</div>

						<div class="contact100-form-radio">
							<input class="input-radio100" id="radio2" type="radio" name="type-product" value="digital">
							<label class="label-radio100" for="radio2">
								Digital Products
							</label>
						</div>

						<div class="contact100-form-radio">
							<input class="input-radio100" id="radio3" type="radio" name="type-product" value="service">
							<label class="label-radio100" for="radio3">
								Services Consulting
							</label>
						</div>
					</div>

					<div class="wrap-contact100-form-range">
						<span class="label-input100">Budget *</span>

						<div class="contact100-form-range-value">
							$<span id="value-lower">610</span> - $<span id="value-upper">980</span>
							<input type="text" name="from-value">
							<input type="text" name="to-value">
						</div>

						<div class="contact100-form-range-bar">
							<div id="filter-bar"></div>
						</div>
					</div>
				</div>

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
					<span class="label-input100">Message</span>
					<textarea class="input100" name="message" placeholder="Your message here..."></textarea>
        </div>-->
        


        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" >
					<span class="label-input100">APPLICATION NOTICE</span>
					<input class="input101" type="file" name="notice" required>
        </div>
        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" >
					<span class="label-input100">APPLICATION FORM</span>
					<input class="input101" type="file" name="form" required>
				</div>


        <button class="fbutton" type="submit">Add Application</button>




				<!--<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
        </div>-->
        

			</form>
		</div>
	</div>







	<!-- ##### Footer Area Start ##### -->
	<footer class="footer-area">
		<!-- Main Footer Area -->
		<div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(img/bg-img/3.jpg);">
		  <div class="container">
			<div class="row">
	
			  <!-- Single Footer Widget Area -->
			  <div class="col-12 col-sm-6 col-lg-3">
				<div class="footer-widget mb-80">
				  <a href="#" class="foo-logo d-block mb-30"><img src="img/core-img/logo2.png" alt=""></a>
				  <p>Lorem ipsum dolor sit amet, consecte stare adipiscing elit. In act honcus risus atiner Pellentesque risus.</p>
				  <div class="contact-info">
					<p><i class="fa fa-map-pin" aria-hidden="true"></i><span>120 Raymond Rd, New York</span></p>
					<p><i class="fa fa-envelope" aria-hidden="true"></i><span>info.deercreative@gmail.com</span></p>
					<p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
				  </div>
				</div>
			  </div>
	
			  <!-- Single Footer Widget Area -->
			  <div class="col-12 col-sm-6 col-lg-3">
				<div class="footer-widget mb-80">
				  <h5 class="widget-title">QUICK LINK</h5>
				  <!-- Footer Widget Nav -->
				  <nav class="footer-widget-nav">
					<ul>
					  <li><a href="#">Purchase</a></li>
					  <li><a href="#">Policities</a></li>
					  <li><a href="#">Shipping</a></li>
					  <li><a href="#">FAQs</a></li>
					  <li><a href="#">Return</a></li>
					  <li><a href="#">Careers</a></li>
					  <li><a href="#">Payments</a></li>
					  <li><a href="#">Partners</a></li>
					  <li><a href="#">Guide</a></li>
					  <li><a href="#">Standard</a></li>
					  <li><a href="#">News</a></li>
					  <li><a href="#">Brands</a></li>
					</ul>
				  </nav>
				</div>
			  </div>
	
			  <!-- Single Footer Widget Area -->
			  <div class="col-12 col-sm-6 col-lg-3">
				<div class="footer-widget mb-80">
				  <h5 class="widget-title">RECENT NEWS</h5>
	
				  <!-- Single Recent News Start -->
				  <div class="single-recent-blog d-flex align-items-center">
					<div class="post-thumbnail">
					  <img src="img/bg-img/4.jpg" alt="">
					</div>
					<div class="post-content">
					  <a href="#" class="post-title">WA’s largest farming business on the market</a>
					  <div class="post-date">18 Aug 2018</div>
					</div>
				  </div>
	
				  <!-- Single Recent News Start -->
				  <div class="single-recent-blog d-flex align-items-center">
					<div class="post-thumbnail">
					  <img src="img/bg-img/5.jpg" alt="">
					</div>
					<div class="post-content">
					  <a href="#" class="post-title">Beef retail prices hit a record</a>
					  <div class="post-date">18 Aug 2018</div>
					</div>
				  </div>
	
				</div>
			  </div>
	
			  <!-- Single Footer Widget Area -->
			  <div class="col-12 col-sm-6 col-lg-3">
				<div class="footer-widget mb-80">
				  <h5 class="widget-title">STAY CONNECTED</h5>
				  <!-- Footer Social Info -->
				  <div class="footer-social-info">
					<a href="#">
					  <i class="fa fa-facebook" aria-hidden="true"></i>
					  <span>Facebook</span>
					</a>
					<a href="#">
					  <i class="fa fa-twitter" aria-hidden="true"></i>
					  <span>Twitter</span>
					</a>
					<a href="#">
					  <i class="fa fa-pinterest" aria-hidden="true"></i>
					  <span>Pinterest</span>
					</a>
				  </div>
				</div>
			  </div>
	
			</div>
		  </div>
		</div>
	
		<!-- Copywrite Area  -->
		<div class="copywrite-area">
		  <div class="container">
			<div class="copywrite-text">
			  <div class="row align-items-center">
				<div class="col-md-6">
				  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	</p>
				</div>
				<div class="col-md-6">
				  <div class="footer-nav">
					<nav>
					  <ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Produce</a></li>
						<li><a href="#">Practice</a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Contact</a></li>
					  </ul>
					</nav>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </footer>
	  <!-- ##### Footer Area End ##### -->
	
	  <!-- ##### All Javascript Files ##### -->
	  <!-- jquery 2.2.4  -->
	
	
	
	
	  <script src="{% static 'js/jquery.min.js' %}"></script>
	  <!-- Popper js -->
	  <script src="{% static 'js/popper.min.js' %}"></script>
	  <!-- Bootstrap js -->
	  <script src="{% static 'js/bootstrap.min.js' %}"></script>
	  <!-- Owl Carousel js -->
	  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
	  <!-- Classynav -->
	  <script src="{% static 'js/classynav.js' %}"></script>
	  <!-- Wow js -->
	  <script src="{% static 'js/wow.min.js' %}"></script>
	  <!-- Sticky js -->
	  <script src="{% static 'js/jquery.sticky.js' %}"></script>
	  <!-- Magnific Popup js -->
	  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	  <!-- Scrollup js -->
	  <script src="{% static 'js/jquery.scrollup.min.js' %}"></script>
	  <!-- Jarallax js -->
	  <script src="{% static 'js/jarallax.min.js' %}"></script>
	  <!-- Jarallax Video js -->
	  <script src="{% static 'js/jarallax-video.min.js' %}"></script>
	  <!-- Active js -->
	  <script src="{% static 'js/active.js' %}"></script>
















<!--===============================================================================================-->
	<script src="{% static 'addform/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'addform/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'addform/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'addform/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'addform/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'addform/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'addform/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'addform/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'addform/vendor/noui/nouislider.min.js' %}"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,

	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
